/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  /* font: inherit; */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Set core body defaults */
body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  color: #263238;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
}


/* Navigation bar */
header {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f5f5f5;
  font-size: 0.9rem;
  color: #546E7A;
  padding: 1rem 0.5rem 2rem;
  z-index: 99;
}

#logo {
  position: relative;
  left: 4%;
  font-family: "Mali", cursive;
  font-size: 1.5rem;
}

#logo-img {
  height: 2rem;
  width: auto;
  border: none;
  padding-right: 0.6rem;
}

.navbar-menu {
  margin: 0.5rem 0 0 auto;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.9rem;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  color: #546E7A;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #045ab0;
  font-size: 1.2rem;
  font-weight: 900;
}

#search {
  padding-left: 1rem;
}

#nav-search-text {
  width: 8rem;
  height: 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 0.7rem;
  opacity: 40%;
  padding-left: 0.5rem;
}

#nav-search-text:hover,
#nav-search-text:focus {
  color: #546E7A;
  font-size: 0.8rem;
  opacity: 100%;
  border: 1px solid #0066CC;
}


/* Add checkbox for Navbar button for responsove desigh */
#checkbox-toggle {
	position: absolute;
	top: -100px;
}

#navbar-mobile {
  display: none
}


/* Add responsive design for Navbar */
.navbar-mobile-btn {
    display: none;
    cursor: pointer;
}

.line {
	width: 0.8rem;
	height: 0.1rem;
	background-color: #546E7A;
	margin: 2px;
	border-radius: 3px;
	transition: all 0.4s ease-in-out;
}

.navbar-mobile-btn:hover {
  box-shadow: 0 0 1rem 0 rgb(50 50 50 / 20%);
}

@media only screen and (max-width: 900px) {
  .navbar-list {
    display: none;
		position: absolute;
		z-index: 99;
		left: 0;
		right: 0;
    background-color: #f5f5f5;
    transition: all 0.5s ease-in-out;
	}

  nav :checked ~ .navbar-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 70%;
    right: 4%;
    /* transform: translateX(0); */
    border: 1px solid rgba(0, 0, 0, 0.061);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgb(50 50 50 / 30%);
    padding: 1.5rem 0rem;
	}

  .navbar-mobile-btn {
		display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    background-color: #fff;
    border: 1px solid #0066cc9c;
    border-radius: 2rem;
    padding: 0.3rem 0.7rem;
	}

  nav :checked ~ .navbar-mobile-btn .line:nth-child(1) {

    transform: translateY(0.22rem) rotate(225deg);
	}
	nav :checked ~ .navbar-mobile-btn .line:nth-child(3) {

		transform: translateY(-0.22rem) rotate(-225deg);
	}
	nav :checked ~ .navbar-mobile-btn .line:nth-child(2) {
		opacity: 0;
	}

  #nav-search-text {
    width: 90%;
  }
}


/* Articles (shorts and main) */
#container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  gap: 2rem;
  max-width: 1200px;
  margin: 7rem auto 0;
}

.article-category {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
}

.article-category-link {
  text-decoration: none;
  background-color: rgba(233, 237, 250, 0.791);
  color: #546E7A;
  padding: 0.2rem 0.7rem;
  border-radius: 15%;
  margin-right: 1rem;
  transition: 0.4s;
}

.article-category-link:hover {
  color: #000;
}

.author-photo,
.author-and-date {
  display: inline;
  color: #263238;
  font-size: 0.8rem;
  font-weight: 700;
}

.author-and-date-small {
  font-size: 0.65rem;
  opacity: 65%;
}

.author-photo-img {
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.4rem;
  position: relative;
  top: 0.2rem;
}


/* Main Article */
.main-article {
  grid-row: span 2;
  grid-column: span 2;
  background-color: transparent;
  padding: 4rem;
}

.main-article-title {
  margin: 2rem 0 1rem;
}

.main-article-title-link {
  font-family: "Raleway", sans-serif;
  color: #263238e5;
  font-size: 4rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.main-article-title-link:hover {
  color: #045ab0;
}

.main-article-short-text {
  line-height: 1.7;
  margin: 3rem 0;
}

.main-article-continue-reading {
  display: inline;
  background-color: #fff;
  border: 1px solid #0066CC;
  border-radius: 2rem;
  font-size: 0.8rem;
  color: #263238;
  text-decoration: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.main-article-continue-reading-btn {
  border: none;
  background-color: transparent;
}

.main-article-continue-reading:hover {
  background-image: linear-gradient(to top right, #0066CC, #653EF1);
  box-shadow: 0 0 1rem 0 rgb(50 50 50 / 60%);
  color: #fff;
}


/* Article (short form) */
.acticle {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid #E7EBED;
  border-radius: 1rem;
  padding: 3rem;
  margin-inline: 0.3rem;
  transition: 0.2s all ease-in-out;
}

.acticle:hover {
  transform: scale(1.01);
  box-shadow: 0 0 1rem 0 rgb(50 50 50 / 10%);
}

.article-title {
  margin: 2rem 0 1rem;
}

.article-title-link {
  font-family: "Raleway", sans-serif;
  color: #263238e5;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.article-title-link:hover {
  color: #045ab0;
}


/* Responsive design for articles */
@media only screen and (max-width: 900px) {
  #container {
    grid-template-columns: repeat(2, auto);
    gap: 0.2rem;
    margin-top: 2.5rem;
  }

  .main-article {
    margin: 0.6rem;
    padding: 2.5rem;
  }

  .acticle {
    padding: 1.2rem;
    margin-inline: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .main-article-title-link {
    font-size: 3.2rem;
  }

  .main-article-short-text {
    font-size: 0.8rem;
  }

  .article-title-link {
    font-size: 1.5rem;
  }
}


/* Page-Navigation */
#page-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.page-number-active {
  border-bottom: 2px solid #0066cc;
  color: #0066cc;
  font-size: 0.8rem;
  text-decoration: none;
  transition: 0.4s;
}

.page-number {
  border-bottom: 2px solid transparent;
  color: #0066cc;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  transition: 0.4s;
}

.page-number:hover,
.page-number-active:hover {
 font-size: 1rem;
 font-style: bold;
}

.change-page {
  background: none;
  border: 1px solid #cfd8dcb3;
  padding: 0.4rem 0.8rem;
  margin-inline: 0.4rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.change-page:hover {
  box-shadow: 0 0 1rem 0 rgb(50 50 50 / 20%);
}

.change-page-link {
  text-decoration: none;
  color: #0066cc;
  font-size: 0.7rem;
}


/* Subscription form */
#subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#form-field {
  flex-basis: 35%;
  background: #eee;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgb(50 50 50 / 47%);
  font-size: 1rem;
  text-align: center;
  padding: 3rem;
  margin: 4rem 0;
}

#form-title {
  font-size: 1.5rem;
  color: #263238;
  margin-bottom: 2rem;
}

#name,
#email {
  height: 2.5rem;
  width: 25rem;
  background-color: #fff;
  border: 1px solid #CFD8DC;
  border-radius: 6rem;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

#frequency {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #CFD8DC;
  color: #263238;
  font-size: 0.8rem;
  margin-top: 1rem;
}

#monthly,
#weekly,
#daily,
.frequency-label {
  margin: 1.2rem 0.15rem;
  cursor: pointer;
  transition: 0.4s;
}

#monthly,
#weekly,
#daily,
.frequency-label:hover {
  color: #045ab0;
}

#subscribe {
  width: 50%;
  background: #1c6fc2ec;
  border: none;
  border-radius: 5rem;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 2.5rem auto 0;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

#subscribe:hover {
  background: #022547;
  border: none;
  box-shadow: 0 0 1rem 0 rgb(50 50 50 / 60%);
}

#form-text {
  flex-basis: 25%;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}


/* Responsive design for subscription form */
@media only screen and (max-width: 900px) {
  #subscribe-form {
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  #form-text {
    font-size: 1.5rem;
  }

  #form-field {
    margin: 1rem auto;
    scale: 0.85;
  }
}

@media only screen and (max-width: 600px) {
  #form-text {
    margin-bottom: -1rem;
  }

  #form-field {
    margin: 0 0 -2rem;
    scale: 0.7;
  }
}


/* Footer */
footer {
  text-align: center;
  padding-bottom: 1.5rem;
}

#copyright {
  color: #263238;
  font-size: 0.8rem;
  margin: 1rem auto;
}

.social-link {
  text-decoration: none;
  margin-inline: 0.8rem;
  cursor: pointer;
}

.social-logo {
  height: 1.25rem;
  width: 1.25rem;
  opacity: 60%;
  transition: 0.4s all ease-in-out;
}

.social-logo:hover {
  transform: scale(1.5);
}